*{
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
}
html, body {
    width: 100%; padding: 0; margin: 0;
    font-family: Arial,Helvetica,sans-serif;
}

body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}
* a{
    font-size: 14px;
    text-decoration: none;
    color: #666;
    cursor: pointer;
    font-style: normal;
}
* a:hover{
    text-decoration: none;
    transition: .3s;
}
* a, h1, h2, h3, h4, h5, h6, p, span{
    color: #666;
}
* button, button:focus, a , a:focus{
    outline: none;
}
button{
    cursor: pointer;
}
* h2{
    font-style: normal;
    line-height: normal;
    font-size: 24px;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

/*----------------header style---------------------*/

.top-header{
    background: #379D46;
    background: -moz-linear-gradient(top, #379D46 0%, #2C9B24 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#379D46), color-stop(100%,#2C9B24));
    background: -webkit-linear-gradient(top, #379D46 0%,#2C9B24 100%);
    -webkit-transition: .1s linear;
    transition: .1s linear;
}
.container-block{
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-nav-list{
    display: flex;
    align-items: center;
}
.top-nav-item{
    margin: 0 20px 0 0;
}
.top-nav-link{
    color: #fff;
    line-height: 46px;
    text-decoration: none;
    border-bottom: 1px solid hsla(0,0%,100%,.5);
}
.top-nav-link:hover{
    color: #e31e25;
    border-bottom-color: transparent;
}
.auth-block{
    display: flex;
    margin: 0 35px 0 10px;
    box-sizing: border-box;
    align-items: center;
}
.auth-block a,
.auth-block span{
    color: #e31e25;
    text-align: center;
    text-decoration: none;
    line-height: normal;
}
.auth-block span{
    margin: 0 3px;
}
.auth-block a{
    border-bottom: 1px dotted #e31e25;
}
.auth-block a:hover{
    color: #fff;
    border: none;
}
.logo{
    margin: 0 20px 0 0;
}
.logo h1{
    margin: 0 5px;
    width: 240px;
    height: 73px;
}
.logo h1 a {
    display: block;
    width: 240px;
    height: 100px;
}
.logo-link img {
    width: 100%;
}
.bottom-header-left-content{
    margin: 15px 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.bottom-header{
    box-shadow: 0 3px 10px 1px rgba(0,0,0,.2);
}
.top-search-block{
    display: flex;
    max-width: 490px;
    width: 100%;
    position: relative;
}
.form__search-exit{
    position: absolute;
    top: 10px;
    right: 250px;
    width: 20px;
    height: 20px;
    z-index: 997;
    background: url("../image/krestik-off.png");
    cursor: pointer;
    background-size: 100%;
    display: block;
}
.form__search-exit:hover{
    top: 10px;
    right: 250px;
    width: 20px;
    height: 20px;
    z-index: 997;
    background: url("../image/krestik-off-hover.png");
    cursor: pointer;
    background-size: 100%;
    display: block;
}
.top-search-block .form__search-exit {
    right: 36px;
    top: 12px;
    width: 16px;
    height: 16px;
}
.top-search-block .request_small_form {
    background: transparent url("../image/lupa.png") no-repeat;
    content: "";
    display: block;
    height: 30px;
    position: absolute;
    background-position: center;
    right: 7px;
    top: 5px;
    width: 30px;
    cursor: pointer;
}
.top-search-block .request_small_form:hover{
    background: transparent url("../image/hover-lupa.png") no-repeat;
    content: "";
    display: block;
    height: 30px;
    position: absolute;
    background-position: center;
    right: 7px;
    top: 5px;
    width: 30px;
    cursor: pointer;
}
.search-input{
    font-size: 16px;
    height: 40px;
    padding: 0 75px 0 10px;
    vertical-align: middle;
    outline: none;
    background: #fff;
    border: 1px solid #ccc;
    font-family: Arial,Helvetica,sans-serif;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #000;
}
.search-input:focus, .search-input:hover {
    border-color: #999;
}
.call-item a{
    font-weight: 700;
    text-decoration: none;
    color: #379D46;
    font-size: 24px;
    line-height: inherit;
}
.call-list{
    margin-left: 20px;
}
.contact-header{
    display: flex;
    align-items: center;
}
.contact-and-time{
    margin-left: 20px;
}
.item-work span,
.item-work a{
    color: #379D46;
    text-decoration: none;
    line-height: 24px;
    font-size: 16px;
}
.basket-header{
    display: flex;
    margin: 0 5px;
    justify-content: center;
    border-left: 1px solid #379D46;
    text-align: center;
    padding: 12px;
    -webkit-transition: inherit!important;
    transition: inherit!important;
    width: 235px;
}
.basket-ico{
    width: 50px;
    height: 50px;
    background: url("../image/basket.png") no-repeat;
    background-position: center;
}
.header-basket-wrapper{
    display: flex;
    align-items: center;
}
.sign-in-site{
    font-size: 12px;
    line-height: 15px;
    display: flex;
    text-align: right;
    margin-right: 4px;
    font-weight: 600;
}
.sign-in-site p{
    color: #000;
    position: relative;
    padding-right: 52px;
}
.sign-in-site p:before{
    content: '';
    position: absolute;
    width: 46px;
    height: 45px;
    background: url("../image/user.png")no-repeat;
    background-size: contain;
    right: 0;
}
.search-form{
    display: none;
}
.news a{
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    color: #379D46;
}
.news a:hover{
    text-decoration: none;
}
.news span{
    font-size: 16px;
}
.scroll-info-basket{
    display: none;
}
#menu.fixed {
    position:fixed;
    top:0; left:0;
    width: 100%;
    background-color: #fff;
    z-index: 1000000000;
}
.fixed  .scroll-info-basket{
    display: block;
}
.fixed .search-form{
    display: block;
}
.fixed .short-card{
    display: none;
}
.fixed .news{
    display: none;
}
.active-header{
    padding-top: 148px;
}
.noneBlock{
    display: none;
}
.header-basket-count{
    line-height: 21px;
    text-align: left;
    display: flex;
    margin-left: 10px;
    color: #000;
}
.left-block{
    width: 240px;
    margin: 0 5px 10px;
    display: flex;
    flex-direction: column;
}
.header-column,
.header-column a{
    position: relative;
    display: block;
    background: #e31e25;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 8;
}
.catalog-open-link{
    padding: 0 45px;
}
.catalog-open-link:before{
    content: '';
    position: absolute;
    background: url("../image/katalog.png")no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    top: 10px;
    left: 16px;
    z-index: 9;
}
.link-katalog{
    display: flex;
    margin: 0 40px 0 15px;
    padding-top: 15px;
    color: #e31e25;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
}
.link-katalog:hover,
.active-link{
    color: #379D46;
    border-bottom: 1px solid #379D46;
}
.left-navigation{
    border: 1px solid #e5e1e1;
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
    margin-bottom: 20px;
}
.list-katalog{
    padding-bottom: 15px;
}
.container-body{
    padding-top: 20px;
    display: flex;
    width: 100%;
}
.input-search-body{
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid #e31e25;
    padding: 0 38px 0 10px;
    font-size: 16px;
    vertical-align: middle;
    letter-spacing: normal;
    outline: none;
}
.content-block{
    width: 100%;
    margin-left: 5px;
}
.search-form-body{
    width: 240px;
    letter-spacing: normal;
    background: #e31e25;
    transition: .15s ease-in;
    -webkit-transition: .15s ease-in;
    border: none;
    text-transform: uppercase;
}
.search-form-body:hover{
    background: #c71c22;
}
.search-form-body span{
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    padding-left: 20px;
}
.search-form-body span:before{
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    top: 0;
    left: 0;
    background: url("../image/scale.png")no-repeat;
    background-size: contain;
}
.content-search{
    display: flex;
}

/*----------------------content-----------------*/
.list-top-content{
    display: flex;
    justify-content: space-between;
}
.wrapper-list-top-content{
    margin-top: 20px;
}
.column-right-banner{
    max-width: 490px;
    width: 100%;
}
.item-top-content a img{
    max-width: 100%;
    max-height: 100%;
}
.item-top-content{
    margin: 0 5px;
    overflow: hidden;
}
.item-top-content:last-child{
    margin-right: 0;
}
.item-top-content:first-child{
    margin-left: 0;
}
.pet-banner{
    max-height: 270px;
    max-width: 240px;
    width: 100%;
}
.jcarousel-wrapper{
    max-width: 990px;
}
.pagination-wrapper{
    text-align: right;
}
.header-carousel{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.title-header-carousel{
    font: 700 24px Arial,Helvetica,sans-serif;
    margin: 0;
    color: #000;
}
.more-goods{
    color: #000;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    text-decoration: underline;
}
.more-goods:hover{
    color: #000;
}
.card-header-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.kod-tovar{
    font-size: 12px;
    color: #666;
}
.link-status{
    cursor: pointer;
    color: #379D46;
    border-bottom: 1px dotted #379D46;
    text-decoration: none;
    min-height: 15px;
}
.link-status:hover{
    border: none;
    color: #379D46;
}
.img-card-block img{
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
}
.card-body-block{
    margin-top: 10px;
}
.sticker,
.sticker-news{
    position: relative;
}
.sticker:before{
    content: '';
    position: absolute;
    width: 75px;
    height: 50px;
    top: 0;
    left: 0;
    background: url("../image/sticker_hot.svg") no-repeat;
}
.sticker-news:before{
    content: '';
    position: absolute;
    width: 75px;
    height: 35px;
    bottom: 0;
    left: 0;
    background: url("../image/sticker_new.svg") no-repeat;
}
.wrapper-image-body{
    position: relative;
    margin: 10px 0 4px;
    width: 220px;
    height: 220px;
}
.name-tovar{
    color: #000;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    line-height: 18px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    margin: 0;
    min-height: 90px;
    font-weight: 700;
}
.name-tovar:hover{
    color: #000;
    text-decoration: underline;
}
.price-tovar,
.price-tovar span{
    font-size: 25px;
    font-weight: 700;
    color: #000;
    text-align: right;
}
.price-tovar span{
    margin-left: 5px;
}
.text-about{
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    color: #000;
    text-align: right;
}
.price-tovar-container{
    margin: 10px 0;
}
.input-counter{
    border: none;
    color: #333;
    font-size: 13px;
    line-height: 1.2;
    margin: 0;
    overflow: hidden;
    padding: 12px 0 10px;
    width: 40px;
    z-index: 49;
    -moz-appearance: textfield;
    text-align: center;
}
.product-count-wrapper{
    line-height: 37px;
    height: 38px;
    width: 67px;
    display: flex;
    border: 1px solid #ccc;
    background: #fff;
}
.wrapper-btn-counter{
    height: 100%;
    position: relative;
}
.to-top,
.to-bottom{
    background: #fff url("../image/jquery.fs.stepper-arrows.png") no-repeat;
    border: 1px solid #ccc;
    cursor: pointer;
    display: block;
    height: 50%;
    position: absolute;
    right: 0;
    text-indent: -99999px;
    width: 25px;
    z-index: 50;
}
.to-top{
    background-position: -28px 0;
    border-bottom: none;
    border-top: none;
    border-right: none;
    top: 0;
}
.to-bottom{
    background-position: -28px -20px;
    border-bottom: none;
    border-right: none;
    bottom: 0;
}
.counter{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.to-top:hover{
    background-color: #666;
    background-position: -1px 0;
}
.to-bottom:hover{
    background-color: #666;
    background-position: -1px -20px;
}
.btn-button{
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    display: flex;
    vertical-align: middle;
    padding: 0 25px;
    font: 14px/40px Arial,Helvetica,sans-serif;
    text-decoration: none;
}
.add-btn{
    width: 148px;
    padding: 0 0 0 30px;
    cursor: pointer;
    background: #e31e25;
    color: #fff;
    position: relative;
    margin-left: 3px;
}
.add-btn:hover {
    background: #c71c22;
}
.add-btn:before{
    content: '';
    position: absolute;
    left: 10px;
    top: 45%;
    transform: translateY(-50%);
    background: url("../image/basket-btn.png")no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
}
.add-btn span{
    color: #fff;
    padding-left: 15px;
}
.price-wrapper-content{
    display: flex;
    justify-content: space-between;
}
.comparison{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}
.comparison-btn{
    border: 1px solid #e0e0e0;
    width: 20px;
    height: 20px;
    background-color: transparent;
    color: #666;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.container-card{
    display: flex;
    flex-direction: column;
}
.card-body-block {
    margin-top: 10px;
    flex: 1 0 auto;
}
.footer-card{
    flex: 0 0 auto;
}
.about-price{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0;
}
.sub-text-metr{
    font-size: 13px;
    line-height: 13px;
    color: #707070;
    border-bottom: 1px dotted #707070;
    transition: .2s;
    -webkit-transition: .2s;
    cursor: pointer;
    min-height: 15px;
    margin: 0 0 -2px 4px;
}
.sub-text-metr:hover{
    border: none;
}
.product-units{
    background: #000;
    cursor: default;
    min-height: 17px;
    margin: 0 0 -2px 4px;
    padding: 2px 4px;
}
.span-metr{
    color: #fff;
    border-bottom: 1px solid transparent;
    font-size: 13px;
    line-height: 13px;
}
.comparison p{
    color: #000;
    min-height: 15px;
    cursor: pointer;
}
.comparison p:hover{
    border-bottom: 1px dotted #000;
}
.video-content a, .video-content video {
    width: 100%;
    height: 100%;
}
.price-sale{
    max-width: 190px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
}
.price-sale-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sale-span{
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    text-align: right;
    line-height: 17px;
    margin-right: 16px;
    color: #000;
}
.price-old .price-tovar,
.price-old .price-tovar span{
    color: #a7a7a7;
    font-size: 25px;
}
.title-form-info{
    font: 400 24px Arial,Helvetica,sans-serif;
    color: #000;
    margin-bottom: 15px;
}
.sub-title-form{
    margin-bottom: 20px;
    line-height: normal;
}
.politic-info{
    margin-top: 20px;
}
.politic-info,
.politic-info a{
    font-size: 12px;
}
.politic-info a{
    text-decoration: underline;
}
.politic-info a:hover{
    text-decoration: none;
}
.input-form-info{
    font-size: 16px;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    outline: none;
    background: #fff;
    border: 1px solid #ccc;
    font-family: Arial,Helvetica,sans-serif;
    width: 92%;
    margin-bottom: 15px;
}
.btn-info{
    width: 100%;
    text-align: center;
    justify-content: center;
    color: #fff;
    background-color: #379D46;
}
.wrapper-left-container-form{
    margin: 0 5px;
}
.btn-info:hover,
.filter-clear-button:hover{
    background-color: #2b7e38;
}
.item-recomend{
    margin: 30px 0;
}
.item-recomend{
    max-height: 270px;
    max-width: 240px;
    width: 100%;
    overflow: hidden;
}
.link-recomend img{
    max-width: 100%;
    max-height: 100%;
}
/*-----------------footer----------------*/

.top-footer{
    background-color: #e31e25;
    padding: 22px 0 34px;
    text-align: center;
}
.wrapper-img-benefit img{
    width: 100px;
    height: 100px;
}
.title-benefit{
    font-size: 20px;
    color: #fff;
}
.info-benefit{
    font-size: 16px;
    margin: 20px 0 0;
    color: #fff;
    line-height: normal;
}
.list-benefit{
    display: flex;
    justify-content: center;
    width: 100%;
}
.item-benefit{
    margin-right: 40px;
}
.item-benefit:last-child{
    margin-right: 0;
}
.center-footer{
    background-color: #379D46;
    overflow: hidden;
    padding: 21px 0 46px;
}
.footer-list{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.title-footer-item{
    text-transform: uppercase;
    color: #fff;
    margin: 25px 0 20px;
    font-size: 16px;
}
.footer-link{
    color: #fff;
    line-height: 26px;
    text-decoration: none;
    font-size: 16px;
}
.footer-link:hover{
    color: #e31e25;
}
.link-pay-card{
    display: block;
}
.visa{
    background: url("../image/visa.png") no-repeat;
    width: 47px;
    height: 31px;
    background-size: contain;
}
.master-card{
    background: url("../image/master-card.png") no-repeat;
    width: 47px;
    height: 31px;
    background-size: contain;
}
.pay-sposob{
    display: flex;
}
.link-pay-card{
    margin-right: 15px;
}
.link-pay-card:last-child{
    margin-right: 0;
}
.yandex-comment{
    width: 80px;
    height: 45px;
    background: url("../image/yan.png")no-repeat;
    background-size: contain;
    display: block;
}
.comment span,
.service span{
    color: #fff;
    position: relative;
    padding-left: 36px;
    white-space: pre-wrap;
}
.comment span:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 35px;
    background: url("../image/comment.png")no-repeat;
    background-size: contain;
    left: 0;
}
.service span:before{
     content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: url("../image/service.png")no-repeat;
    background-size: contain;
    left: 0;
}
.service{
    margin-top: 15px;
    display: block;
}
.sub-footer-item p{
    color: #fff;
    line-height: 27px;
}
.bottom-footer{
    background-color: #000;
    padding: 20px 0;
}
.social-list{
    display: flex;
    margin-top: 10px;
    align-self: flex-end;
}
.social-link{
    display: block;
    width: 30px;
    height: 30px;
    opacity: 0.4;
}
.social-item{
    margin-right: 15px;
}
.social-item:last-child{
    margin-right: 0;
}
.facebook{
    background: url("../image/fb.png")no-repeat;
    background-size: contain;
}
.twitter{
     background: url("../image/tw.png")no-repeat;
    background-size: contain;
}
.instagram{
     background: url("../image/in.png")no-repeat;
    background-size: contain;
}
.vkontakte{
    background: url("../image/vk.png")no-repeat;
    background-size: contain;
}
.odnoklasniki{
    background: url("../image/od.png")no-repeat;
    background-size: contain;
}
.social-link:hover{
    opacity: 0.6;
}
.social{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.text-footer-bottom a{
    text-decoration: underline;
}
.text-footer-bottom a:hover{
    color: #666666;
    text-decoration: none;
}
.text-footer-bottom p{
    line-height: normal;
}
.footer-container{
    flex-wrap: wrap;
}
.text-footer-bottom{
    max-width: 60%;
    margin-top: 15px;
}
.text-footer-bottom p,
.text-footer-bottom p a{
    font-size: 12px;
}
.banner-long-box{
    overflow: hidden;
    max-height:  146px;
}

/*--------------page catalog style------------*/
.title-new-block{
    font-size: 24px;
    color: #000;
    margin: 20px 0;
    font-weight: 700!important;
}
.pet-banner-big img{
    max-width: 100%;
    max-height: 100%;
}
.item-catalog-list{
    width: 190px;
    min-height: 220px;
    padding: 5px 0;
    margin: 10px 10px 0 0;
    text-align: center;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.item-catalog-list:nth-child(5n){
    margin-right: 0;
}
.item-catalog-list:hover{
    box-shadow: 0 2px 10px rgba(0,0,0,.3);
}
.parent-case,
.parent-case span{
    color: #000;
}
.small-height .wrapper-image-body{
    height: 200px;
}
.jcarousel li.small-height{
    height: 485px;
    padding: 10px 10px 10px;
}
.link-catalog{
    display: block;
}
.link-catalog:hover .title-variant{
    color: #e31e25;
}
.img-catalog{
    margin-bottom: 10px;
    border: 1px solid #e0e0e0;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.img-catalog img{
    max-width: 190px;
    max-height: 190px;
}
.title-variant{
    font-size: 14px;
    line-height: 16px;
    color: #379D46;
    padding: 0 5px;
}
.list-catalog{
    display: flex;
    flex-wrap: wrap;
}
.wrapper-img-info{
    max-height: 349px;
    overflow-y: hidden;
}
.wrapper-img-info img{
    width: 100%;
}
.title-block-info{
    font: 700 24px Arial,Helvetica,sans-serif;
    margin: 19px 0;
    color: #000;
}
.text-info-block{
    margin: 20px 0;
}
.text-info-block p{
    font-size: 14px;
    line-height: 18px;
    color: #000;
}
.catalog-drop-down{
    position: relative;
}
.catalog-drop-down .left-navigation{
    display: none;
    position: absolute;
    z-index: 9;
    cursor: pointer;
    background-color: #ffffff;
    right: 0;
    left: 0;
    top: 40px;
}
.catalog-drop-down .catalog-open-link:after{
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    top: 17px;
    right: 17px;
    left: inherit;
    background: url("../image/el.png") -25px -220px no-repeat;
}
.btn-active .catalog-open-link:after{
    background-position: -25px -210px;
}
.wrapper-filters{
    border: 1px solid #e31e25;
    box-shadow: 0 4px 6px rgba(0,0,0,.1);
    background: #fff;
    margin: 15px 5px 20px;
    padding-bottom: 14px;
    width: 240px;
}
.styled-checkbox {
    position: absolute;
    opacity: 0;
}
.styled-checkbox + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      padding-left: 34px;
}
.styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    width: 22px;
    height: 22px;
    background: white;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    top: -4px;
}
.styled-checkbox:focus + label:before {
     box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
 }
.styled-checkbox:disabled + label {
     color: #b8b8b8;
     cursor: auto;
 }
.styled-checkbox:disabled + label:before {
     box-shadow: none;
     background: #ddd;
 }
.styled-checkbox:checked + label:after {
     content: '';
     position: absolute;
     left: 7px;
     top: 7px;
     background: black;
     width: 2px;
     height: 2px;
     box-shadow:
             2px 0 0 black,
             4px 0 0 black,
             4px -2px 0 black,
             4px -4px 0 black,
             4px -6px 0 black,
             4px -8px 0 black;
     transform: rotate(45deg);
 }
.filters-label{
    position: relative;
    color: #666;
    line-height: 16px;
    cursor: pointer;
}
.item-filters{
    padding: 18px 10px 18px 18px;
    border-bottom: 1px solid #ccc;
}
.title-input-filters{
    position: relative;
    padding-left: 28px;
    display: block;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}
.title-input-filters:before{
    content: "";
    display: block;
    position: absolute;
    background: url("../image/el.png")no-repeat;
    background-position: -257px -15px;
    width: 12px;
    height: 6px;
    left: 3px;
    top: 5px;
}
.input-filters{
    padding: 3px 6px;
    font: 14px/18px Arial,Helvetica,sans-serif;
    padding-left: 30px;
    height: 32px;
    line-height: 30px;
    margin-bottom: 3px;
    background: #fff;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
    color: #000;
    width: 100%;
    outline: none;
}
.filters-label-lg{
    color: #666;
    margin-right: 10px;
}
.item-filters-input{
    display: flex;
    align-items: center;
    padding-top: 2px;
    margin-bottom: 14px;
    font-size: 14px;
}
.list-filters-input{
    padding-right: 5px;
    margin: 10px 0;
}
.item-filters-input:last-child{
    margin-bottom: 0;
}
.item-filters:last-child{
    padding-bottom: 0;
    border-bottom: none;
}
.filter-clear-button{
    text-transform: none;
    width: 200px;
    background-color: #379D46;
    padding: 0;
    color: #fff;
    justify-content: center;
}
.breadcrumbs{
    display: flex;
    align-items: center;
    margin: 15px 0;
    font-size: 0;
    line-height: 0;
    position: relative;
    padding-top: 5px;
}
.link-breadcrumbs{
    color: #379D46;
    font-size: 16px;
    line-height: normal;
    text-decoration: underline;
}
.link-breadcrumbs:hover{
    text-decoration: none;
}
.item-breadcrumbs,
.breadcrumbs-separator{
    font-size: 16px;
    line-height: normal;
    letter-spacing: normal;
    display: inline-block;
    margin-right: 20px;
}
.breadcrumbs-separator{
    color: #ccc;
}